body {
    margin:0;
    padding:0;
    font-family: "Arial" ,"sans-serif";
    
}
/* Global */

.container{
    margin: auto;
    padding: 0;
    text-align: center;
    width: 80%;
}
.highlight{
    color: rgb(46, 140, 228);
}
.button1{
    color: white;
    background-color: rgb(41, 125, 202);
    width: 20px;
    height: 40px;
}


/* Header */

header{
    background-color: rgb(95, 95, 95);
    border-bottom: 7px solid rgb(46, 140, 228);
    display: flex;
}
#brand{
    float: left;
}
#brand h2{
    margin-top:15px;
    float: left;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    
}
header nav{
    text-align: right;
    align-items: center;
}
header nav ul{
    list-style: none;
    margin-top: 25px;
}
nav ul li{
    display:inline;
    padding: 1rem;
    font-size:15px;
    
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}
nav li a:hover{
    color: #dddddd;
}

/* Section: Showcase */

#showcase{
    background: url("../images/desktop.jpg") no-repeat center center/cover;
    height: 80vh;
    overflow: hidden;
}
#showcase h2{
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
}
#showcase .container{
    margin-top: 200px;
}
#showcase p{
    font-size: 20px;
    color: #ffffff;
}

/* Section: Newsletter */

#newsletter{
    background-color:rgb(46, 140, 228);
    overflow: hidden;
    color: #ffffff;
    height: 15vh;
    line-height: 5px;
}
#newsletter form{
    float: right;
}
#newsletter h3{
    text-align: right;
    margin-right: 70px;
}
#newsletter form input{
    width: 200px;
    height: 40px;
    border: 0;
    text-align: center;
}
#newsletter h4{
    float: left;
    margin-top: 25px;
    font-size: 30px;
    font-family: Arial;
}
/* Section: Boxes */

#boxes{
    text-align: center;
    overflow: hidden;
    height: 50vh;
    background-color: #dfdfdf;
}
.box img{
    width: 180px;
    
}
.box{
    background-color: rgb(206, 206, 206);
    margin: 30px 20px 0px 130px;
    float: left;
    overflow: hidden;
    box-shadow: 2px 2px 5px #b1b1b1;
    flex: 1;
    border-radius: 24px;
}

/* Footer */

footer{
    height: 5vh;
    background-color: #919191b1;
    text-align: center;
    overflow: hidden;
}